section.signup
  div  
    h2 The Easy Way to Learn Front-End Development

    :markdown
      Making websites should be fun. Cut through all of the noise and learn the simple way to go from total beginner to webmaster!

    .form
      h3 Sign Up For Free Right Now
      
      form#signup
        .field
          input(
            name='FNAME'
            type='text'
            placeholder='First Name')
        .field
          input(
            name='EMAIL'
            type='email'
            placeholder='Your Email')
        button.button(type='submit') Start the Course
