//-
  Open Graph meta for Facebook, Twitter, Pinterest, etc
  Uses account settings from site.yml.
  This is component is included in the base template.
  Each page pushes it's own meta data in.
  TODO: create images optimized for 1.91 ratio: 1200x627 

meta(property='og:site_name', content!= site.name)
meta(property='og:type', content='article')
meta(property='og:url', content='#{site.url}#{url}')

if datetime
  meta(property='article:published_time', content= datetime)

//- Stay between 60 and 90 charcters
if og_title
  meta(property='og:title', content= og_title)
else
  meta(property='og:title', content= title)

//- Limit to 200 characters
if og_description
  meta(property='og:description', content= og_description)
else
  meta(property='og:description', content= description)

//- 1.91/1 ratio 1200x627
if og_image
  meta(property='og:image', content='#{site.url}#{og_image}')
  meta(property='twitter:image', content='#{site.url}#{og_image}')
else if image
  meta(property='og:image', content='#{site.url}#{image}')
  meta(property='twitter:image', content='#{site.url}#{image}')

//- Twitter Card specifics
//- https://cards-dev.twitter.com/validator
//- Twitter cards can be summary, photo, video, product, app, gallery, and “large version” summary
if twitter_type
  meta(name='twitter:card', content= twitter_type)
else
  meta(name='twitter:card', content='summary')

meta(property='twitter:url', content='#{site.url}#{url}')

//- Limit to 70 characters
if twitter_title
  meta(name='twitter:title', content= twitter_title)
else if og_title
  meta(name='twitter:title', content= og_title)
else
  meta(name='twitter:title', content= title)

//- Limit to 200 characters
if twitter_description
  meta(name='twitter:description', content= twitter_description)
else if og_description
  meta(name='twitter:description', content= og_description)
else
  meta(name='twitter:description', content= description)

if social.twitter
  meta(name='twitter:site', content= social.twitter)
