section.signup
  div
    :markdown
      ## Front-End Development Newsletter
      Get front-end development tips straight to your inbox.

    .form
      h3 Sign Up For Free Right Now
      
      form#signup
        
        .field
          input(
            name='FNAME'
            type='text'
            placeholder='First Name')
        
        .field
          input(
            name='EMAIL'
            type='email'
            placeholder='Your Email')
        
        button.button(type='submit') Sign Up Now
