//-
  Google Font Mixin
  Use just below head tag in base.jade to get font downloads going from Google 
  at the same time as your styles. Multi-word font names will automatically have 
  spaces replaced with '+'.

  +google-font('Open Sans', 400, '400italic', 600, '600italic', 800)

mixin google-font(font, ...weights)
  - font = font.replace(' ', '+')
  link(
    href='http://fonts.googleapis.com/css?family=#{font}:#{weights}'
    rel='stylesheet'
    type='text/css'
    )